.DS_Store
*.cf:wq

/Assembler/Assembler/nbproject/private/
/Assembler/Assembler/dist/
/Assembler/Assembler/build/
/Assembler/src/Assembler.class
/Assembler/src/Assembler$1.class
/Assembler/src/Assembler$2.class
/Assembler/src/Assembler$3.class
/Assembler/src/Assembler$4.class
/Assembler/src/Assembler$5.class
/Assembler/src/Assembler$6.class
/Assembler/src/Assembler$7.class
/Assembler/src/Assembler$8.class
/Assembler/src/Assembler$9.class
/Assembler/src/Assembler$instructionParser.class
/Assembler/src/Main.class
/Assembler/src/TextWriter.class